nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 2rem 2rem 1rem 2rem;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: auto;
  gap: 0.5rem;
}

li {
  padding: 0.5rem;
  color: black;
  border: 1px solid black;
  border-radius: 1rem;
}
li:hover {
  background-color: aquamarine;
}

a {
  text-decoration: none;
}
