.acero {
  background-color: #a8a8c0 !important;
}

.agua {
  background-color: #3899f8 !important;
}

.bicho {
  background-color: #a8b820 !important;
}
.dragon {
  background-color: #7860e0 !important;
}
.electrico {
  background-color: #f8d030 !important;
}
.fantasma {
  background-color: #6060b0 !important;
}
.fuego {
  background-color: #f05030 !important;
}
.hada {
  background-color: #e79fe7 !important;
}
.hielo {
  background-color: #58c8e0 !important;
}
.lucha {
  background-color: #a05038 !important;
}
.normal {
  background-color: #a8a090 !important;
}
.planta {
  background-color: #78c850 !important;
}
.psiquico {
  background-color: #f870a0 !important;
}
.roca {
  background-color: #b8a058 !important;
}
.siniestro {
  background-color: #7a5848 !important;
}
.tierra {
  background-color: #e9d6a4 !important;
}
.veneno {
  background-color: #b058a0 !important;
}
.volador {
  background-color: #98a8f0 !important;
}

/*
Este contenido proviene de wikidex.net, y debe darse atribución a sus autores, tal como especifica la licencia.
Se prohíbe su uso a PlagioDex (el wiki de FANDOOM), por copiar reiteradamente sin dar atribución
*/
